[Desktop Entry]
Version=1.0
Type=Application
Name=Raw
Icon=/opt/Images/raw.png
Exec=python -m SimpleHTTPServer 4000
Path=/opt/raw
NoDisplay=false
Categories=X-XFCE;X-Xfce-Toplevel;menulibre-dobuke;
StartupNotify=true
Terminal=true
